{% extends 'base.html.twig' %}

{% block title %}{{ view.pageTitle }}{% endblock %}

{% block content %}
    {% block body %}
        <h1 class="main__title">{{ view.title }}</h1>
        <div class="main__actions">
            <a class="button" href="{{ view.actionBackToPreviousPage.link }}">
                {{ view.actionBackToPreviousPage.text }}
            </a>
            <a class="button button--accent" href="{{ view.actionAddGroupMember.link }}">
                {{ view.actionAddGroupMember.text }}
            </a>
        </div>
        <div class="card-container">
            {% for view_member in view.wishlistGroupMembers %}
                <div class="card">
                    <h2 class="card__title">
                        {% if view_member.isGroupOwner %}
                            {% include 'svg/groups.html.twig' %}
                        {% endif %}
                        <span>{{ view_member.pseudonym }}</span>
                    </h2>
                    <span>{{ view_member.email }}</span>
                    <div class="card__actions">
                        {% if view_member.isWishlist %}
                            <a class="button button--accent button--round" href="{{ view_member.actionShowWishlist.link }}">
                                {% include 'svg/eye.html.twig' %}
                            </a>
                        {% else %}
                            {% if view_member.isOwner %}
                                <a class= "button button--accent button--round" href="{{view_member.actionCreateWishlist.link }}">
                                    {% include 'svg/pen.html.twig' %}
                                </a>
                                {% else %}
                                <span>nothing</span>
                            {% endif %}

                        {% endif %}
                        {% if view_member.isGroupOwner %}
                            {% include '_components/_form_delete.html.twig' with {
                                'action' : view_member.actionRemove.action,
                                'token_id' : view_member.actionRemove.tokenId,
                                'text' : 'delete' } %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}