{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% block body %}
        <h1 class="main__title">Register user</h1>
        {{ form_start(form, { attr : { class : 'form' } }) }}
        <div class="form-control">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div class="form-control">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>
        <div class="form-control">
            {{ form_label(form.birthDate) }}
            {{ form_widget(form.birthDate) }}
            {{ form_errors(form.birthDate) }}
        </div>
        <div class="form-control">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-control">
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
            {{ form_errors(form.password) }}
        </div>
        <button class="button button--accent" type="submit">Save</button>
        {{ form_end(form) }}
        <a class="button" href="{{ path('app_login') }}">sign in</a>
    {% endblock %}
{% endblock %}