{% extends 'base.html.twig' %}

{% block title %}Wishlists{% endblock %}

{% block content %}
    {% block body %}
        <h1 class="main__title">{{ view.title|trans }}</h1>
        <div class="main__actions">
            <a class="button button--accent" href="{{ view.createWishlist.link }}">
                {{ view.createWishlist.text|trans }}
            </a>
        </div>
        <div class="card-container">
            {% for wishlist in view.wishlists %}
                <div class="card">
                    <h2 class="card__title">{{ wishlist.name }}</h2>
                    <div>
                        <span class="card__label">{{ wishlist.visibility }}</span>
                        <span class="card__label">Items : {{ wishlist.items|length }}</span>
                        <span class="card__label">Groups : {{ wishlist.groups|length }}</span>
                    </div>
                    <div class="card__actions">
                        <a class="button button--round button--accent" href="{{ path('wishlist_show', { id: wishlist.id}) }}">
                            {% include 'svg/eye.html.twig' with { 'class_extend' : 'icon--accent'} %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}