{% extends 'base.html.twig' %}

{% block title %}{{ wishlist.name }}{% endblock %}

{% block content %}
    {% block body %}
        <h1 class="main__title">{{ wishlist.name }}</h1>
        {% if wishlist_view.owner %}
            <div class="main__actions">
                <a class="button button--accent" href="{{ wishlist_view.actionAddWishlistItem.link }}">
                    {{ wishlist_view.actionAddWishlistItem.text }}
                </a>
                <a class="button" href="{{ wishlist_view.actionUpdate.link }}">
                    {{ wishlist_view.actionUpdate.text }}
                </a>
                {% include '_components/_form_delete.html.twig' with {
                    'action' : wishlist_view.actionDelete.action,
                    'token_id' : wishlist_view.actionDelete.tokenId,
                    'is_text_btn': true,
                    'text' : 'Supprimer' } %}
            </div>
        {% endif %}
        <div class="card-container">
            {% for item_view in wishlist_view.wishlistItemViews %}
                {% include 'wishlist/wishlist_item/_show.html.twig' %}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}