<div class="card">
    {% if item_view.actionGoToProduct %}
        <a class="card__title" href="{{ item_view.actionGoToProduct.link }}" target="{{ item_view.actionGoToProduct.target }}">
            <i class="gg-arrow-top-right"></i>
            <span>{{ item_view.actionGoToProduct.text }}</span>
        </a>
        {% else %}
        <p class="card__title">{{ item_view.label }}</p>
    {% endif %}
    <div>
        {% if item_view.price %}
            <span class="card__label">{{ item_view.price|number_format(2, ',', ' ') }}€</span>
        {% endif %}
        {% if item_view.priority %}
            <span class="card__label">{{ item_view.priority }}</span>
        {% endif %}
        <span class="card__label">{{ item_view.isLocked ? 'Is locked' : 'is opened'}}</span>
    </div>
    <div>
        {% if item_view.isOwner %}
            <span class="card__label">{{ item_view.isSelected }}</span>
            {% else %}
                {% for participant in item_view.participants %}
                    <p>{{ participant.visibleName ? participant.memberName : 'Anonymous' }}</p>
                {% endfor %}
        {% endif %}
    </div>
    {% if item_view.description %}
        <span>{{ item_view.description }}</span>
    {% endif %}
    <div class="card__actions">
        {% if item_view.owner %}
            <a class="button button--round" href="{{ item_view.actionUpdate.link }}" aria-labelledby="btn-update-wishlist-item-{{ loop.index }}">
                <span id="btn-update-wishlist-item-{{ loop.index }}" hidden>{{ item_view.actionUpdate.text }}</span>
                {% include 'svg/pen.html.twig' %}
            </a>
            {% include '_components/_form_delete.html.twig' with {
                'action' : item_view.actionRemove.action,
                'token_id' : item_view.actionRemove.tokenId,
                'text' : 'delete' } %}
            {% else %}
                {% if item_view.canAddToMyBasket() %}
                    <a class="button button--accent" href="{{  item_view.actionAddItemToBasket.link }}" aria-labelledby="btn-add-to-basket-{{ loop.index }}">
                        <span id="btn-add-to-basket-{{ loop.index }}" hidden>{{  item_view.actionAddItemToBasket.text }}</span>
                        {{  item_view.actionAddItemToBasket.text }}
                    </a>
                {% endif %}
        {% endif %}
    </div>
</div>