{% if extend_class is not defined %}
    {% set extend_class = '' %}
{% endif %}

{% if is_text_btn is not defined %}
    {% set is_text_btn = false %}
{% endif %}

{% if is_text_btn %}
    <form action="{{ action }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="_token" value="{{csrf_token(token_id)}})}}">
        <button class="button {{ extend_class }}" type="submit">
            {{ text }}
        </button>
    </form>
    {% else %}
        <form action="{{ action }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="_token" value="{{csrf_token(token_id)}})}}">
            <button class="button button--round {{ extend_class }}" type="submit">
                {% include 'svg/trash.html.twig' %}
            </button>
        </form>
{% endif %}
