{% trans_default_domain 'app' %}
<header class="header">
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a class="navbar__link {% if navbar.activeProperty == 'wishlists' %}navbar__link--active{% endif %}"
                   href="{{ path('wishlist_list') }}">
                    {% include 'svg/list.html.twig' %}
                    <span>{{ navbar.wishlists|trans }}</span>
                </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link {% if navbar.activeProperty == 'groups' %}navbar__link--active{% endif %}"
                   href="{{ path('wishlist_group_list') }}">
                    {% include 'svg/groups.html.twig' %}
                    <span>{{ navbar.groups|trans }}</span>
                </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link {% if navbar.activeProperty == 'basket' %}navbar__link--active{% endif %}"
                   href="{{ path('wishlist_member_basket_show') }}">
                    {% include 'svg/basket.html.twig' %}
                    <span>{{ navbar.basket|trans }}</span>
                </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link"
                   href="{{ path('app_logout') }}">
                    {% include 'svg/logout.html.twig' %}
                    <span>{{ navbar.logout|trans }}</span>
                </a>
            </li>
        </ul>
    </nav>
</header>