<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'class' : 'form',
            'data-action': 'live#action',
            'data-action-name': 'prevent|save',
            'data-model': 'norender|*'
        }
    }) }}
    {% if error %}
        {{ error }}
    {% endif %}
    {{ form_errors(form) }}
    <div class="form-control">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-control">
        {{ form_label(form.ownerPseudonym) }}
        {{ form_widget(form.ownerPseudonym) }}
        {{ form_errors(form.ownerPseudonym) }}
    </div>
    {% for key, memberForm in form.members %}
        <div class="form-control">
            {{ form_label(memberForm.pseudonym) }}
            {{ form_widget(memberForm.pseudonym) }}
            {{ form_errors(memberForm.pseudonym) }}
        </div>
        <div class="form-control">
            {{ form_label(memberForm.email) }}
            {{ form_widget(memberForm.email) }}
            {{ form_errors(memberForm.email) }}
        </div>
        <button
                class="button button--accent"
                data-action="live#action"
                data-action-name="removeWishlistGroupMember(index={{ key }})"
                type="button"
        >X</button>
    {% endfor %}
    <button
            class="button"
            data-action="live#action"
            data-action-name="addWishlistGroupMember"
            type="button"
    >+ Add member</button>
    <button class="button" type="submit">Envoyer</button>
    {{ form_end(form) }}
</div>