<div {{ attributes }}>

    {% for item in wishlist.items %}
        <div>
                <h2>{{ item.label }}</h2>
                {% if item.link %}
                        <a href="{{ item.link }}" target="_blank">Afficher</a>
                {% endif %}
                <span>{{ item.priority }}</span>
                <span>{{ item.description }}</span>
                <span>{{ item.price }}</span>
        </div>
    {% endfor %}
</div>